{% extends "forums/base.html" %}
{% load i18n static forum_comments inkscape comments %}

{% block title %}{{ object.subject }} - {{ object.forum }}{% endblock %}

{% block "css" %}
<link href="{% static "slick/slick.css" %}" rel="stylesheet" type="text/css"/>
<link href="{% static "slick/slick-theme.css" %}" rel="stylesheet" type="text/css"/>
<link href="{% static "slick/lightbox.css" %}" rel="stylesheet" type="text/css"/>
<link href="{% static "forums/ckeditor/plugins/codesnippet/lib/highlight/styles/github.css" %}" rel="stylesheet" type="text/css"/>
{{ block.super }}
{% endblock %}

{% block "js" %}{{ block.super }}
<script type="text/javascript" src="{% static "slick/slick.min.js" %}"></script>
<script type="text/javascript" src="{% static "slick/lightbox.min.js" %}"></script>
<script type="text/javascript" src="{% static "forums/ckeditor/plugins/codesnippet/lib/highlight/highlight.pack.js" %}"></script>
<script>hljs.initHighlightingOnLoad();</script>
{% endblock %}

{% block "wrapper" %}
<div class="container-flex forums-app forums-topic-detail" {% if object.forum.emotes %}data-emotes="{{ object.forum.emotes }}"{% endif %}>
{% endblock "wrapper" %}

{% block "forumheader" %}
  <div class="forum-sub-header">
    {% include "forums/forumtopic_subheader.html" %}
  </div>
{% endblock %}

{% block "aside" %}{% endblock %}

{% block "tools" %}
  <div class="btn-group">
    <a data-original-title="Refresh" data-placement="top" href="" class="btn btn-sm"><span class="glyphicon glyphicon-refresh"><span></a>
  </div>
  {% if request.user.is_moderator %}
    <div class="btn-group">
      <a href="#" class="btn btn-sm btn-default disabled">{% trans "Moderator Tools:" %}</a>
      <a href="{% url "forums:topic_split" object.slug %}" class="btn btn-sm btn-default" title="{% trans "Split out Comments" %}"><span class="iw-flow-split"></span></a>
      <a href="{% url "forums:topic_merge" object.slug %}" class="btn btn-sm btn-default" title="{% trans "Merge into another Topic" %}"><span class="iw-flow-merge"></span></a>
      <a href="{% url "forums:topic_move" object.slug %}" class="btn btn-sm btn-primary" title="{% trans "Move Topic" %}"><span class="glyphicon glyphicon-move"></span></a>
      <a href="{% url "forums:topic_edit" object.slug %}" class="btn btn-sm btn-warning" title="{% trans "Edit Topic" %}"><span class="glyphicon glyphicon-edit"></span></a>
      <a href="{% url "forums:topic_delete" object.slug %}" class="btn btn-sm btn-danger" title="{% trans "Delete Topic" %}"><span class="glyphicon glyphicon-remove-sign"></span></a>
    </div>
  {% endif %}
  {% if request.user.is_authenticated %}
    {% with object|subscription:request.user as subscription %}
      <div class="btn-group">
        {% if not subscription %}
          <a class="btn btn-sm btn-danger" href="{% url "alert.subscribe" "forums.forum_topic_alert" object.pk %}?next={{ request.path }}&post=1">
            <span class="glyphicon glyphicon-heart"></span> {% trans "Subscribe" %}
          </a>
        {% else %}
          <a class="btn btn-sm btn-default" href="{% url "alert.unsubscribe" "forums.forum_topic_alert" object.pk %}?next={{ request.path }}&post=1">
            <span class="glyphicon glyphicon-heart-empty"></span> {% trans "Unsubscribe" %}
          </a>
        {% endif %}
        <a href="{% url "alert.settings" "forums.forum_topic_alert" %}?next={{ request.path }}" class="btn btn-sm btn-default" title="{% trans "Subscription Settings" %}"><span class="glyphicon glyphicon-wrench"></span></a>
      </div>
    {% endwith %}
  {% endif %}

  {% if object.locked %}
    <div class="btn-group">
      <a href="#" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-lock"></span> Topic Locked</a>
    </div>
  {% endif %}
{% endblock %}

{% block "content" %}
  {% if object.object_pk %}
    <div class="forum-comment-first changes" data-pk="topic-{{ object.pk }}">
      {% with object.object_template as template %}
        {% with object.object as object %}
          {% include template %}
        {% endwith %}
      {% endwith %}
    </div>
  {% endif %}

  {% get_forum_comment_list for object.comment_subject as comment_list %}
  <div class="panel-body haveseen" data-changed="{{ object.last_posted.isoformat }}" data-count="{{ object.post_count }}" data-pk="topic-{{ object.pk }}" data-model="topic">
    {% if object.is_contest %}
      {% include "forums/comment_thread.html" with override=object.attachments.all %}
    {% else %}
      {% include "forums/comment_thread.html" %}
    {% endif %}
  </div>
  
  {% if object.removed %}
    <div class="panel-footer">
        <h5 class="text-danger"><span class="glyphicon glyphicon-warning-sign"></span> {% trans "Moderators have removed this thread!" %}</h5>
    </div>
  {% elif object.locked %}
    <div class="panel-footer">
        <h5 class="text-danger"><span class="glyphicon glyphicon-warning-sign"></span> {% trans "Moderators have closed this thread, you may not post further comments here." %}</h5>
    </div>
  {% else %}

    {% get_forum_comment_form for object.comment_subject as comment_form %}
    {{ comment_form.media }}

  <div class="panel-footer">
    <div class="input-group">
      {% if object.form.is_locked or object.is_locked %}
        <input id="btn-input" disabled="disabled" type="text" class="form-control input-sm" />
        <span class="input-group-btn">
          <a class="btn btn-default btn-sm disabled"><span class="glyphicon glyphicon-lock"></span> {% trans "Locked" %}</a>
        </span>
      {% elif request.user.is_authenticated %}
        {% if request.user.email %}
          <form action="{% url "forums:comment_create" object.forum.slug object.slug %}" method="POST" class="block">
            <div class="row">
              {% csrf_token %}
              {{ comment_form.comment }}
              {{ comment_form.honeypot }}
              {{ comment_form.content_type }}
              {{ comment_form.object_pk }}
              {{ comment_form.timestamp }}
              {{ comment_form.security_hash }}
            </div>
            <div class="row group-id_attachments">
              {{ comment_form.attachments.label_tag }}
              {{ comment_form.attachments }}
            </div>
            <div class="row group-id_galleries">
              {{ comment_form.galleries.label_tag }}
              {{ comment_form.galleries }}
            </div>
            <div class="row group-id_embedded">
              {{ comment_form.embedded.label_tag }}
              {{ comment_form.embedded }}
            </div>

            {% include "forums/attachment_draw.html" %}
            <div class="row forum-topic-actions">

     <span class="btn-group pull-left" title="{% trans "Add attachments to topic" %}">
      <a id="add_attachments" class="btn btn-default btn-sm" style="display: none;"> <span class="glyphicon glyphicon-paperclip"></span></a>
    </span>
    <span class="btn-group pull-right">
      {% if perms.forums.can_post_topic %}
        <button class="btn btn-primary btn-sm" type="submit"> {% trans "Submit Reply" %}</button>
      {% else %}
        <button class="btn btn-warning btn-sm" type="submit"> {% trans "Submit Reply" %}</button>
      {% endif %}
    </span>
    <span class="btn-group pull-left">
      <a href="/community/coc/" target="_blank" class="btn"><span class="glyphicon glyphicon-check"></span> {% blocktrans %}Please read the <strong>Code of Conduct</strong> before posting.{% endblocktrans %}</a>
    </span>

            </div>
          </form>
        {% else %}
          <input id="btn-input" disabled="disabled" type="text" class="form-control input-sm" placeholder="You must have an email address to post!" />
          <span class="input-group-btn">
            <a href="{% url 'edit_profile' %}?next={{ request.path }}" class="btn btn-default btn-sm"> {% trans "Edit Profile" %}</a>
          </span>
        {% endif %}
      {% else %}
        <input id="btn-input" disabled="disabled" type="text" class="form-control input-sm" placeholder="You must be logged in to post!" />
        <span class="input-group-btn">
          <a href="{% url 'auth_login' %}?next={{ request.path }}" class="btn btn-danger btn-sm"> {% trans "Login Now" %}</a>
        </span>
      {% endif %}
    </div>
  </div>
  
  {% endif %}
  <div class="forum-breadcrumbs">
      <a href="/" title="Back to Inkcsape website"><img src="{% static "images/inkscape-logo.svg" %}" alt="Inkscape"> Inkscape.org</a>
      <span class="glyphicon glyphicon-chevron-right"></span>
      <a href="{% url "forums:list" %}"><img src="{% static "forums/images/logo.svg" %}"> Inkscape Forum</a>
      <span class="glyphicon glyphicon-chevron-right"></span>
      {% include "forums/forumtopic_subheader.html" %}
  </div>
{% endblock %}

