{% load i18n inkscape extras %}
{% with request.GET|querydict_pop:"page" as get %}
    <ul class="unstyled forum-pagination">
        {% if page_obj.paginator.count > 0 %}
            <li><span class="count">{{ page_obj.start_index }}-{{ page_obj.end_index }} of {{ page_obj.paginator.count }}</span></li>
        {% endif %}
        <li>
            {% if page_obj.has_previous %}
                <a class="np-btn" href="?page={{ page_obj.previous_page_number }}&{{ get.urlencode }}{{ hashtag }}"><span class="glyphicon glyphicon-chevron-left pagination-left"></span></a>
            {% else %}
                <a class="np-btn disabled"><span class="glyphicon glyphicon-chevron-left pagination-left"></span></a>
            {% endif %}
        </li>
        {% if page_obj.paginator.num_pages > 1 %}
            <li>
                <form method="get" action="?{{ get.urlencode }}{{ hashtag }}">
                    <input class="np-btn" name="page" type="number" min="1" max="{{ page_obj.paginator.num_pages }}" value="{{ page_obj.number }}"/>
                </form>
            </li>
        {% endif %}
        <li>
            {% if page_obj.has_next %}
                <a class="np-btn" href="?page={{ page_obj.next_page_number }}&{{ get.urlencode }}{{ hashtag }}"><span class="glyphicon glyphicon-chevron-right pagination-right"></span></a>
            {% else %}
                <a class="np-btn disabled" href="#"><span class="glyphicon glyphicon-chevron-right pagination-right"></span></a>
            {% endif %}
        </li>
    </ul>
{% endwith %}
