{% load i18n inkscape %}



<h2>{{ title }}</h2>

  <table class="table table-forum table-hover">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">{% trans "Username" %}</th>
        <th scope="col" title="Help Quotant">{% trans "Helps" %}</th>
        <th scope="col" class="text-right">{% trans "Last Seen" %}</th>
      </tr>
    </thead>
    <tbody>
    {% for helper in helpers %}
    <tr class="{% cycle 'odd' 'even' %}">
        <td class="text-right">
            {% for flag in helper.user.forum_flags.all %}
                {% if not flag.modflag or request.user.is_moderator %}
                    <span class="emoji{% if flag.modflag %} modflag{% endif %}" title="{{ flag.title }}">{{ flag.flag }}</span>
                {% endif %}
            {% endfor %}
        </td>
        <td class="user-item" style="width: 100%"><a href="{{ helper.user.get_absolute_url }}">{{ helper.user }}</a></td>
        <td class="text-center">{{ helper.count }}</td>
        <td class="text-right text-muted"><span class="glyphicon glyphicon-time"></span> {{ helper.user.last_seen|timetag }}</td>
      </tr>
    {% empty %}
      <tr>
        <td class="icon forum-small-cells"><span class="glyphicon glyphicon-info-sign"></span></td>
        <td class="user-item" colspan="4">{% trans "No Forum Contributors" %}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
