{% extends "modal.html" %}
{% load i18n %}

{% block "title" %}{% block "page-title" %}{% trans "Registration Activation" %}{% endblock %}{% endblock %}

{% block "dialog-body" %}
  <p>{% blocktrans %}Your are already activated. If you are having issues logging in, please contact the website administrators.{% endblocktrans %}</p>
{% endblock %}

{% block "dialog-buttons" %}
  {% url "contact" as contact_url %}
  <a class="btn btn-default" href="{{ contact_url }}">{% trans "Contact Us" %}</a>
{% endblock %}
