{% extends 'base.html' %}
{% load i18n static %}

{% block title %}{% trans "Galleries" %}{% endblock %} 
{% block "css" %}{{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "css/resources/gallery.css" %}"/>
{% endblock %}

{% block content %}
  <h1>{% trans "Resources" %}</h1>
    <div id="gallery">
      {% for gallery in object_list %}
        <div class="galleryitem" title="">
          <a class="link" href="{{ gallery.get_absolute_url }}"><img src="{{ gallery.thumbnail_url }}"/></a>
          <p class="label"><a href="{{ gallery.get_absolute_url }}">{{ gallery.name|truncatechars:40 }}</a></p>
        </div>
      {% empty %}
	<div class="galleryitem">
	  <div class="link"><img src="{% static "images/none.svg" %}"/></div>
	  <p>{% trans "No Galleries Yet" %}</p>
	</div>
      {% endfor %}
    </div>
{% endblock %}

