{% extends 'base.html' %}
{% load static i18n inkscape %}

{% block headerdesc %}{% trans "A list of merge request downloadables for in-progress features." %}{% endblock %}
{% block keywords %}git,gitlab,github,artifact,download,merge,request,pull,zip,appimage,feature{% endblock %}

{% block content %}

<h1>{{ title }}</h1>
<p>{% trans "This list shows a list of recent merge requests and their latest built artifacts. The downloads may not be available and you will get a 404 error if the build is not ready yet. You may also get an older version than you expected as it will provide the last successful build, so compare the artifact with the sha id before reporting problems back to the developer." %}</p>
<h3>{% trans "Usage Instructions" %}</h3>
<ol>
    <li>{% trans "Visit the artifacts page for the operation system you have" %}</li>
    <li>{% trans "Look for the AppImage, executable, or dmg file, download and install or run it as needed." %}</li>
    <li>{% trans "If installing, then make sure not to over-write your stable installation as these files can be quite unstable and may crash. Enable auto-save and have fun!" %}</li>
</ol>

  <table class="alternating" style="width: 100%;">
    <thead>
      <tr>
        <th scope="col">{% trans "Author" %}</th>
        <th scope="col">{% trans "Merge" %}</th>
        <th scope="col" style="text-align: left;">{% trans "Title" %}</th>
        <th scope="col">{% trans "Last Updated" %}</th>
        <th scope="col">{% trans "SHA Id" %}</th>
        <th scope="col" colspan="{{ platforms.count }}">{% trans "Downloads" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for merge in merges %}
      <tr class="{% cycle "odd" "even" %}">
        <td><a href="{{ merge.author.web_url }}" title="{{ merge.author.name }}"><img src="{{ merge.author.avatar_url }}" style="max-width: 48px;"/></a></td>
        <td><a href="{{ merge.web_url }}">!{{ merge.iid }}</a></td>
        <td class="left-aligned">{{ merge.title }}</td>
        <td title="{{ merge.updated_at }}">{{ merge.updated_at|timesince }}</td>
        <td>{{ merge.sha_id }}</td>
        {% for platform in platforms %}
          <td style="background-color: #333;" title="{{ platform.name }}">
            <!--a href="https://gitlab.com/api/v4/projects/{{ object.gitlab_id }}/jobs/artifacts/refs/merge-requests/{{ merge.iid }}/merge/download?job={{ platform.gitlab_job_name }}"-->
            <a href="{% url "releases:inprogress-download" project=object.slug sha=merge.sha build=platform.gitlab_job_name %}">
              <img src="{% if platform.icon %}{{ platform.icon.url }}{% else %}{% static "images/download.svg" %}{% endif %}" style="max-width: 48px;"/>
            </a>
          </td>
        {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
  </table>

  <div class="pagination">
    <a class="page" href="?page={{ page|add:1 }}">{% trans "Next Page" %}</a>
  </div>

{% endblock %}
