{% extends "modal.html" %}
{% load i18n static cal %}

{% block "js" %}{{ block.super }}
  <script type="text/javascript" src="{% static "js/localtime.js" %}"></script>
{% endblock %}

{% block "meta" %}
  <meta name="author" content="{{ objct.creator }}" />
  <meta name="description" content="{{ event.next_start|date:"c" }} // {% if object.link %}{{ object.link }}{% else %}{{ request.build_absolute_uri }}{{ object.get_absolute_url }}{% endif %}
{{ object.description|striptags|truncatechars:100 }}"/>
  <meta name="keywords" content="inkscape,calendar,entry,meeting,{{ object.parent }}" />
  <meta property="og:image" content="{% static "images/inkscape-og-calendar.png" %}" />
{% endblock %}

{% block "dialog-body" %}

  <p>{{ object.description|safe }}</p>

  {% if object.link %}
    <div style="text-align: center;">
    {% if object.is_video_link %}
      <a href="{{ object.link }}" class="btn btn-primary">{% trans "Video Link" %}</a>
    {% else %}
      <a href="{{ object.link }}">{% trans "Link" %}</a>
    {% endif %}
    </div>
  {% endif %}

  <hr/>

<table class="alternating" style="width: 100%;">
  <tbody>
    {% if object.recurrences %}
      {% for event in object.repeat.next_five %}
        <tr class="{% cycle "even" "odd" %}">
          <td style="white-space:nowrap;" {% if event.next_start != event.orig_next_start %}class="replaced"{% endif %}>
            {% if event.next_start != event.orig_next_start %}
              <span class="btn btn-default disabled" data-event="{{ event.orig_next_start|date:"c" }}">{{ event.orig_next_start }}</span>
            {% endif %}
            <span class="btn btn-default" data-event="{{ event.next_start|date:"c" }}">{{ event.next_start }}</span>
          </td>
          <td style="white-space:nowrap;">
            <span class="btn">{{ event.next_start|relative:event.next_end }}</span>
          </td>
        </tr>
      {% endfor %}
    {% else %}
      <tr class="odd">
        <td style="white-space:nowrap;">
          <span class="btn btn-default" data-event="{{ object.start|date:"c" }}">{{ object.start }}</span>
        </td>
        <td style="white-space:nowrap;">
          <span class="btn">{{ object.start|relative:object.end }}</span>
        </td>
      </tr>
    {% endif %}
  </tbody>
</table>
  
      {# for prev in object.repeat.prev_five #}
        <!--li class="prev">{{ prev.prev_start }} - {{ prev.prev_end }}</li-->
      {# endfor #}


{% endblock %}

{% block "dialog-buttons" %}
  {% if request.user.is_staff %}
    <a class="btn btn-danger" href="{% url "admin:calendars_event_delete" object.pk %}">{% trans "Delete" %}</a>
    <a class="btn btn-default" href="{% url "admin:calendars_event_change" object.pk %}">{% trans "Edit" %}</a>
  {% else %}
    <a class="btn btn-disabled" href="">{% trans "Delete" %}</a>
    <a class="btn btn-disabled" href="">{% trans "Edit" %}</a>
  {% endif %}
{% endblock %}
